ProjetSupaero2016/build
ProjetSupaero2016/build/*
ACADOtoolkit
ACADOtoolkit/*
ProjetSupaero2016/CMakeFiles/
ProjetSupaero2016/CMakeFiles/*
ProjetSupaero2016/CMakeLists.txt.user
ProjetSupaero2016/CPackConfig.cmake
ProjetSupaero2016/CPackSourceConfig.cmake
ProjetSupaero2016/CTestTestfile.cmake
ProjetSupaero2016/Makefile
ProjetSupaero2016/ProjectSupaero_ACADO.pc
ProjetSupaero2016/cmake/cmake_uninstall.cmake
ProjetSupaero2016/cmake_install.cmake
ProjetSupaero2016/config.h
ProjetSupaero2016/config.log
ProjetSupaero2016/src/bak
ProjetSupaero2016/data/*

ProjetSupaero2017/catkin_ws/build/
ProjetSupaero2017/catkin_ws/devel/
ProjetSupaero2017/catkin_ws/src/CMakeLists.txt

ProjetSupaero2017/catkin_ws/src/hector_quadrotor
ProjetSupaero2017/catkin_ws/src/hector_slam
ProjetSupaero2017/catkin_ws/src/hector_models
ProjetSupaero2017/catkin_ws/src/hector_gazebo
ProjetSupaero2017/catkin_ws/src/hector_localization

ProjetSupaero2018/catkin_ws/build/*
ProjetSupaero2018/catkin_ws/devel/*
ProjetSupaero2018/catkin_ws/src/CMakeLists.txt
ProjetSupaero2018/catkin_ws/src/roadmap/data/

*.pydevproject
*.project
*.pyc
*.idea
**/.ipynb_checkpoints
*.ipynb
*.sdf.swp
