<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sphere">

<!-- Values defining the box -->
<xacro:arg name="x" default="0" />
<xacro:property name="x" value="$(arg x)" />
<xacro:arg name="y" default="0" />
<xacro:property name="y" value="$(arg y)" />
<xacro:arg name="z" default="0" />
<xacro:property name="z" value="$(arg z)" />
<xacro:arg name="radius" default="0.5" />
<xacro:property name="radius" value="$(arg radius)" />

<!-- Macro to place the box -->
<!-- ^ means: use the value of the variable with the same name already defined -->
<xacro:macro name="Origin" params="x:=^ y:=^ z:=^">
  <origin xyz="${x} ${y} ${z}" />
</xacro:macro>

<!-- Macro to create the box -->
<xacro:macro name="Sphere" params="radius:=^">
  <geometry>
    <sphere radius="${radius}" />
  </geometry>
</xacro:macro>


<!-- Box ! -->
  <link name="my_sphere">
    <inertial>
      <xacro:Origin/>
      <mass value="1.0" />
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
    <visual>
      <xacro:Origin/>
      <xacro:Sphere/>
    </visual>
    <collision>
      <xacro:Origin/>
      <xacro:Sphere/>
    </collision>
  </link>
  <gazebo reference="my_sphere">
    <static>true</static>
    <turnGravityOff>true</turnGravityOff>
    <material>Gazebo/Blue</material>
  </gazebo>

</robot>
