<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find display)/worlds/basic_car_world.world"/>
    <arg name="verbose" value="true"/>
  </include>
  <node pkg="utils" name="read_obstacles" type="read_obstacles_server.py"/>
  <node pkg="display" name="init_world" type="Init_world.py"/>
</launch>
