<?xml version="1.0"?>

<launch>

  <arg name="joystick" default="false"/>
  <arg name="joy_dev" default="/dev/input/js0" />

  <node name="intel_teleop_user_interface" pkg="intel_teleop_ui" type="intel_teleop_user_interface" output="screen" >
    <rosparam subst_value="true">
      joystick: $(arg joystick)
      x_axis: 5
      y_axis: 4
      z_axis: 2
      yaw_axis: 1

      go_button: 3
      stop_button: 2
    </rosparam>
  </node>

  <group if="$(arg joystick)">
    <node name="joy" pkg="joy" type="joy_node" output="screen" >
      <param name="dev" value="$(arg joy_dev)" />
      <param name="autorepeat_rate" value="10" />
      <param name="coalesce_interval" value="0.01" />
    </node>
  </group>

</launch>
