<launch>
  <!-- Launch Hector Quadrotor simulation and IntelTeleop optimal control nodes -->
  <arg name="joystick" default="false"/>

  <!-- load world file -->
  <include file="$(find intel_teleop_demo)/launch/demo_world.launch" >
  </include>

  <!-- spawn hector quadrotor -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
  </include>

  <!-- launch user interface node -->
  <include file="$(find intel_teleop_demo)/launch/command_interface.launch" >
    <arg name="joy_dev" value="/dev/input/js2" />
    <arg name="joystick" value="$(arg joystick)" />
  </include>

  <!-- call script calling service to enable motors -->
  <node name="enable_motors" pkg="intel_teleop_demo" type="enable_motors.sh" output="screen" />

  <!-- launch Hector Quadrotor pose estimator node -->
  <node name="pose_estimator" pkg="hector_quadrotor_pose_estimation" type="hector_quadrotor_pose_estimation" output="screen" />

  <!-- launch IntelTeleop optimal control -->
  <node name="opt_control" pkg="intel_teleop_optcontrol" type="optimal_control" output="screen" />

  <!-- start rviz visualization - optional
  <node pkg="rviz" type="rviz" name="rviz" args="-f $(find hector_quadrotor_demo)/rviz_cfg/outdoor_flight.vcg" /> -->

</launch>
